<div id="<%= dom_id horizon_bank_transaction %>">
  <p>
    <strong>Description:</strong>
    <%= horizon_bank_transaction.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= horizon_bank_transaction.amount %>
  </p>

  <p>
    <strong>Transaction key:</strong>
    <%= horizon_bank_transaction.transaction_key %>
  </p>

</div>
