<h1>Editing horizon bank transaction</h1>

<%= render "form", horizon_bank_transaction: @horizon_bank_transaction %>

<br>

<div>
  <%= link_to "Show this horizon bank transaction", @horizon_bank_transaction %> |
  <%= link_to "Back to horizon bank transactions", horizon_bank_transactions_path %>
</div>
