<p style="color: green"><%= notice %></p>

<h1>Horizon bank transactions</h1>

<div id="horizon_bank_transactions">
  <% @horizon_bank_transactions.each do |horizon_bank_transaction| %>
    <%= render horizon_bank_transaction %>
    <p>
      <%= link_to "Show this horizon bank transaction", horizon_bank_transaction %>
    </p>
  <% end %>
</div>

<%= link_to "New horizon bank transaction", new_horizon_bank_transaction_path %>
