<h1>New horizon bank transaction</h1>

<%= render "form", horizon_bank_transaction: @horizon_bank_transaction %>

<br>

<div>
  <%= link_to "Back to horizon bank transactions", horizon_bank_transactions_path %>
</div>
