<h1>Editing branch cash transaction</h1>

<%= render "form", branch_cash_transaction: @branch_cash_transaction %>

<br>

<div>
  <%= link_to "Show this branch cash transaction", @branch_cash_transaction %> |
  <%= link_to "Back to branch cash transactions", branch_cash_transactions_path %>
</div>
