<h1>New branch cash transaction</h1>

<%= render "form", branch_cash_transaction: @branch_cash_transaction %>

<br>

<div>
  <%= link_to "Back to branch cash transactions", branch_cash_transactions_path %>
</div>
