<div id="<%= dom_id horizon_cash_transaction %>">
  <p>
    <strong>Description:</strong>
    <%= horizon_cash_transaction.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= horizon_cash_transaction.amount %>
  </p>

  <p>
    <strong>Transaction key:</strong>
    <%= horizon_cash_transaction.transaction_key %>
  </p>

</div>
