<p style="color: green"><%= notice %></p>

<h1 class="text-4xl mx-auto font-bold underline text-center mt-4">Horizon</h1>
<h2 class="text-lg mx-auto text-center mt-2">Back-office system</h2>

<h3 class="text-lg mx-auto font-bold text-center mt-8">Back-office ledger for Priory Post office</h3>

<%= render "shared/record_table", records: @horizon_cash_transactions, total_text: "Branch cash position" %>

<%= link_to "Send money to branch", new_horizon_cash_transaction_path, class: "bg-rose-400 text-white px-4 py-2 block rounded mt-16 w-32" %>
<script>
  setTimeout(() => {
    location.reload()
  }, 5000);
</script>
