<h1>New horizon cash transaction</h1>

<%= render "form", horizon_cash_transaction: @horizon_cash_transaction %>

<br>

<div>
  <%= link_to "Back to horizon cash transactions", horizon_cash_transactions_path %>
</div>
